<% provide :title, t(".fore_title") %>
<h1>
  <%= t ".fore_title" %>
</h1>
<p>
  <%= t ".name" %>
  <%= link_to t(".name_1"), Settings.link.rails_help_link %>
  <%= t "static_pages.home.intro_2" %>
  <em>
    <%= link_to t(".name_2"), Settings.link.rails_book_link %>
  </em>
  <%= t ".intro_3" %>
</p>
